/Jama-*.jar
/jama-*.jar
/Jama-*.jar.pack.gz
/jama-*.jar.pack.gz
/NetLogo.jar
/NetLogoLite.jar
/classes/
/lib/
/matrix.jar
/matrix.jar.pack.gz
/matrix.zip
/scalatest*.jar
/tmp/
/target
/project/target
/project/project
